.booking-contents .book_lists_wrap {
  list-style: none;
  padding: 0;
  margin: auto;
}
.booking-contents .book_list_title {
  text-align: center;
}
.booking-contents .book_list {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  border-bottom: 1px dotted #ececec;
}
.booking-contents .book_list input[type=radio] {
  display: none;
}
.booking-contents .book_list input[type=radio] + label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
  color: #333;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
@media screen and (max-width: 749px) {
  .booking-contents .book_list input[type=radio] + label {
    line-height: 1;
  }
}
.booking-contents .book_list input[type=radio] + label:last-child {
  margin-bottom: 0;
}
.booking-contents .book_list input[type=radio] + label:before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 14px;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}
.booking-contents .book_list input[type=radio]:checked + label:before {
  width: 10px;
  top: 8px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.booking-contents .book_info {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  flex-grow: 1;
  gap: 1rem;
}
.booking-contents .icon_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
}
.booking-contents svg {
  width: 100%;
  height: 100%;
}
.booking-contents .book_date, .booking-contents .book_time {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
.booking-contents .user_selected_feild {
  display: none;
  max-width: 560px;
  margin: 6rem auto;
}
.booking-contents .user_selected_wrap {
  padding: 1.6rem;
  border-radius: 4px;
  position: relative;
}
.booking-contents .user_selected_wrap h3 {
  margin: 0;
  padding: 8px;
}
.booking-contents .selected_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  position: absolute;
  top: -8px;
  left: 15px;
  background-color: var(--gradient-background);
}
.booking-contents .process_btn {
  max-width: 260px;
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
}