#corporate-customer {
  background-repeat: no-repeat;
  background-size: cover;
}

.corporate-customer-content {
  text-align: center;
}

.corporate-customer-text {
  margin-top: 50px;

}

.corporate-customer-btn {
  margin-top: 50px;
}