.swiper-slide {
  position: relative;
}
.swiper-content__bg-img {
  width: auto;
  overflow: hidden;
  height: 80vh;
}
.swiper-content__bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-content__box {
  padding: 20px;
  font-size: var(--primary-font-size);
  background-color: rgba(255, 255, 255, 0.7);
  width: 80%;
  max-width: 300px;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* swiperのレイアウト変更 */

.swiper-pagination__num,
.swiper-pagination__dot {
  display: block!important;
}

.swiper-button-next,
.swiper-button-prev {
  margin-top: 0;
  color: rgb(var(--color-text));
}

.swiper-button-next {
  right: -5px;
}

.swiper-button-prev {
  left: -5px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 15px;
}

.swiper-pagination-wrapper {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 100px;
  height: 100px;
}

@media screen and (max-width : 767px) {
  .swiper-pagination-wrapper {
    display: none;
  }
}

.swiper-pagination__num {
  font-size: var(--primary-font-size);
  letter-spacing: 0.1em;
  position: absolute;
  left: 25px;
  bottom: 20px;
  z-index: 10;
}

.swiper-pagination__dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: -35px;
  left: 80px;
  z-index: 10;
}

.swiper-pagination__dot {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border: 1px solid rgb(var(--color-button));
  border-radius: 50%;
}

.swiper-pagination__dot.active {
  background: rgb(var(--color-button));
}