.custom-article-card__img {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.custom-article-card__img img {
  display: block;
  width: 100%;
  aspect-ratio: 300 / 190;
  object-fit: cover;
  transition: .3s;
}

.custom-article-card__tags {
  position: absolute;
  top: 0;
  right: 0;
}

.custom-article-card:hover .custom-article-card__img img {
  transform: scale(1.05);
  transition: .3s;
}

.custom-article-card__content {
  font-size: 16px;

}

@media screen and (max-width : 767px) {
  .custom-article-card__content {
    font-size: 14px;
  }
}