.information-content-wrapper {
  margin-top: 50px;
}

.information-content__url {
  align-items: center;
  display: grid;
  grid-template-columns: .5fr 1.5fr;
  padding: 35px 0;
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
  transition: .3s;
}

.information-content__url:hover {
  opacity: 0.3;
  transition: .3s;
}

.information-content__date {
  width: 150px;
}